@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-poppins bg-light text-gray-800 dark:bg-dark dark:text-gray-100 transition-colors duration-300;
}
